/* You can add global styles to this file, and also import other style files */


.three-col-container{
    float:left;
    width:32%;
    font-weight:bold;
    vertical-align: center;
}


.data-table-container {
    height: calc(100vh - 200px);
    overflow-x:auto; 
    overflow-y:hidden
}

.data-table-container table{
    height: calc(100vh - 220px);
}

.data-table-container table tbody tr{
    height: 65px;
}

.data-table-container tbody tr td{
    vertical-align: middle;
}

.data-table-container table tbody{
    display: block; 
    overflow-y:scroll;
    height: calc(100vh - 255px);
    width: 100%; 
}

.data-table-container table thead{
    display: block;
}

.data-table-container th, td{
    white-space: nowrap;
    width: 100vw;
}

/*--------------------------------------------*/


.scrollable-div{

    display:block;
    height: 100px;

}

.scrollable-div table{

    display:block;
    height: 100px;

}


